### 安装pymysql
- 通过pip命令进行第三包pymysql的安装

In [1]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.1

You are using pip version 10.0.1, however version 20.3b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

- 通过import pymysql引入包

In [2]:
import pymysql

### 实验一 查询users表内容并打印输出
- 获得blog数据库连接
- 查询users表的所有记录
- users表结构如下

id|name|password
--|--|--|
1|张三|123456
2|李四|abcd
3|jack|abcdef
4|rose|67890

In [17]:
#获得数据库连接
connection = pymysql.connect("localhost","root","123456","blog")
# 使用cursor()方法获取操作游标 
cursor = connection.cursor()

In [18]:
# SQL 查询语句
sql = "SELECT * FROM users"
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 获取所有记录列表
    results = cursor.fetchall()
    for row in results:    
        id = row[0]
        name = row[1]
        password = row[2]
        # 打印结果
        print ("id=%d,name=%s,password=%s\n" % (id, name,password))
except:
    print ("Error: unable to fetch data")
finally:
   #关闭数据库连接
    connection.close()

id=1,name=张三,password=123456

id=2,name=李四,password=abcd

id=4,name=rose,password=67890

id=5,name=jams,password=hijk

### 实验二 插入数据
- 获得blog数据库连接
- 插入一条记录 jams，hijk

In [8]:
#获得数据库连接
connection = pymysql.connect("localhost","root","123456","blog")
# 使用cursor()方法获取操作游标 
cursor = connection.cursor()

In [9]:
# SQL 插入语句
sql = "INSERT INTO users(name,password) VALUES ('jams', 'hijk')"
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    connection.commit()
except:
    print ("Error: unable to insert data")
    # 发生错误时回滚
    connection.rollback()
finally:
    #关闭数据库连接
    connection.close()

### 实验三 更新数据
- 获得blog数据库连接
- 将users表中name为jack的密码更改为67890

In [10]:
#获得数据库连接
connection = pymysql.connect("localhost","root","123456","blog")
# 使用cursor()方法获取操作游标 
cursor = connection.cursor()
# SQL 更新语句
sql = "UPDATE users SET password = '67890' WHERE name='jack'"
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    connection.commit()
except:
    print ("Error: unable to upate data")
    # 发生错误时回滚
    connection.rollback()
finally:
    #关闭数据库连接
    connection.close()

### 实验四 删除数据
- 获得blog数据库连接
- 将users表中id为5的记录删除

In [21]:
#获得数据库连接
connection = pymysql.connect("localhost","root","123456","blog")
# 使用cursor()方法获取操作游标 
cursor = connection.cursor()
# SQL 删除语句
sql = "delete from users where id=5"
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    connection.commit()
except:
    print ("Error: unable to delete data")
    # 发生错误时回滚
    connection.rollback()
finally:
    #关闭数据库连接
    connection.close()